In [1]:
# Create reference for CSV file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [2]:
# Read CSV file into a dataframe
celiac_path = "resources/celiac_disease_lab_data.csv"

celiac_df = pd.read_csv(celiac_path, low_memory = False)

# Print the first 5 rows
celiac_df.head(5)

,Age,Gender,Diabetes,Diabetes Type,Diarrhoea,Abdominal,Short_Stature,Sticky_Stool,Weight_loss,IgA,IgG,IgM,Marsh,cd_type,Disease_Diagnose
0,10,Male,Yes,Type 1,inflammatory,yes,PSS,no,no,1.30,10.0,1.00,marsh type 0,potential,yes
1,9,Male,Yes,Type 1,fatty,yes,PSS,no,no,1.50,12.5,1.30,marsh type 3a,atypical,yes
2,8,Female,Yes,Type 1,watery,yes,Variant,yes,yes,0.40,8.0,0.50,marsh type 1,latent,yes
3,10,Male,Yes,Type 1,watery,yes,PSS,no,no,0.98,9.0,0.66,marsh type 3a,silent,yes
4,9,Male,Yes,Type 1,fatty,yes,PSS,no,no,1.00,10.5,1.10,marsh type 1,latent,yes

In [3]:
# Split the features and target data and copy the dataframe of X
y = celiac_df['Disease_Diagnose']
X = celiac_df.drop(columns='Disease_Diagnose')
celiac_sans_y_df = X

celiac_sans_y_df.head(20)

,Age,Gender,Diabetes,Diabetes Type,Diarrhoea,Abdominal,Short_Stature,Sticky_Stool,Weight_loss,IgA,IgG,IgM,Marsh,cd_type
0,10,Male,Yes,Type 1,inflammatory,yes,PSS,no,no,1.30,10.0,1.00,marsh type 0,potential
1,9,Male,Yes,Type 1,fatty,yes,PSS,no,no,1.50,12.5,1.30,marsh type 3a,atypical
2,8,Female,Yes,Type 1,watery,yes,Variant,yes,yes,0.40,8.0,0.50,marsh type 1,latent
3,10,Male,Yes,Type 1,watery,yes,PSS,no,no,0.98,9.0,0.66,marsh type 3a,silent
4,9,Male,Yes,Type 1,fatty,yes,PSS,no,no,1.00,10.5,1.10,marsh type 1,latent
5,8,Female,Yes,Type 1,fatty,yes,Variant,yes,yes,1.10,9.5,1.00,marsh type 3a,silent
6,9,Male,Yes,Type 1,watery,yes,Variant,yes,yes,2.10,11.4,1.00,marsh type 2,typical
7,5,Female,Yes,Type 1,fatty,yes,PSS,yes,yes,0.80,12.0,0.98,marsh type 1,latent
8,6,Female,Yes,Type 1,fatty,yes,PSS,yes,yes,1.50,8.0,1.10,marsh type 3b,silent
9,4,Male,Yes,Type 1,watery,yes,Variant,yes,yes,0.42,11.5,1.00,marsh type 2,typical
10,7,Female,Yes,Type 1,fatty,yes,Variant,yes,yes,0.56,11.0,1.00,marsh type 0,latent
11,9,Male,no,NaN,fatty,no,DSS,no,no,1.50,7.0,1.20,none,none
12,6,Male,Yes,Type 1,inflammatory,yes,PSS,no,no,0.51,13.4,0.91,marsh type 2,typical
13,9,Female,Yes,Type 1,fatty,yes,PSS,no,no,1.70,12.0,1.00,marsh type 3b,atypical
14,8,Male,Yes,Type 1,watery,yes,Variant,yes,yes,1.10,8.0,1.50,marsh type 1,latent
15,12,Male,Yes,Type 1,fatty,yes,PSS,no,no,2.00,9.0,1.10,marsh type 3c,atypical
16,14,Male,Yes,Type 1,watery,yes,PSS,no,no,0.97,9.1,1.77,marsh type 3a,silent
17,11,Female,Yes,Type 1,fatty,yes,Variant,yes,yes,1.00,8.0,1.80,marsh type 2,typical
18,8,Male,Yes,Type 1,inflammatory,yes,Variant,yes,yes,2.00,8.0,1.10,marsh type 2,typical
19,7,Female,Yes,Type 1,fatty,yes,PSS,yes,yes,1.00,12.0,0.90,marsh type 0,potential

In [4]:
# Encode the features dataset's categorical variables using get_dummies
X = pd.get_dummies(X)

# Review the features DataFrame
X.head(20)

,Age,IgA,IgG,IgM,Gender_Female,Gender_Male,Diabetes_Yes,Diabetes_no,Diabetes Type_Type 1,Diabetes Type_Type 2,...,Marsh_marsh type 3a,Marsh_marsh type 3b,Marsh_marsh type 3c,Marsh_none,cd_type_atypical,cd_type_latent,cd_type_none,cd_type_potential,cd_type_silent,cd_type_typical
0,10,1.30,10.0,1.00,False,True,True,False,True,False,...,False,False,False,False,False,False,False,True,False,False
1,9,1.50,12.5,1.30,False,True,True,False,True,False,...,True,False,False,False,True,False,False,False,False,False
2,8,0.40,8.0,0.50,True,False,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
3,10,0.98,9.0,0.66,False,True,True,False,True,False,...,True,False,False,False,False,False,False,False,True,False
4,9,1.00,10.5,1.10,False,True,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
5,8,1.10,9.5,1.00,True,False,True,False,True,False,...,True,False,False,False,False,False,False,False,True,False
6,9,2.10,11.4,1.00,False,True,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
7,5,0.80,12.0,0.98,True,False,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
8,6,1.50,8.0,1.10,True,False,True,False,True,False,...,False,True,False,False,False,False,False,False,True,False
9,4,0.42,11.5,1.00,False,True,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
10,7,0.56,11.0,1.00,True,False,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
11,9,1.50,7.0,1.20,False,True,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
12,6,0.51,13.4,0.91,False,True,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
13,9,1.70,12.0,1.00,True,False,True,False,True,False,...,False,True,False,False,True,False,False,False,False,False
14,8,1.10,8.0,1.50,False,True,True,False,True,False,...,False,False,False,False,False,True,False,False,False,False
15,12,2.00,9.0,1.10,False,True,True,False,True,False,...,False,False,True,False,True,False,False,False,False,False
16,14,0.97,9.1,1.77,False,True,True,False,True,False,...,True,False,False,False,False,False,False,False,True,False
17,11,1.00,8.0,1.80,True,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
18,8,2.00,8.0,1.10,False,True,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True
19,7,1.00,12.0,0.90,True,False,True,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [5]:
X.dtypes

Age                         int64
IgA                       float64
IgG                       float64
IgM                       float64
Gender_Female                bool
Gender_Male                  bool
Diabetes_Yes                 bool
Diabetes_no                  bool
Diabetes Type_Type 1         bool
Diabetes Type_Type 2         bool
Diarrhoea_fatty              bool
Diarrhoea_inflammatory       bool
Diarrhoea_watery             bool
Abdominal_no                 bool
Abdominal_yes                bool
Short_Stature_DSS            bool
Short_Stature_PSS            bool
Short_Stature_Variant        bool
Sticky_Stool_no              bool
Sticky_Stool_yes             bool
Weight_loss_no               bool
Weight_loss_yes              bool
Marsh_marsh type 0           bool
Marsh_marsh type 1           bool
Marsh_marsh type 2           bool
Marsh_marsh type 3a          bool
Marsh_marsh type 3b          bool
Marsh_marsh type 3c          bool
Marsh_none                   bool
cd_type_atypical             bool
cd_type_latent               bool
cd_type_none                 bool
cd_type_potential            bool
cd_type_silent               bool
cd_type_typical              bool
dtype: object

In [6]:
X.info

<bound method DataFrame.info of       Age   IgA   IgG   IgM  Gender_Female  Gender_Male  Diabetes_Yes  \
0      10  1.30  10.0  1.00          False         True          True
1       9  1.50  12.5  1.30          False         True          True
2       8  0.40   8.0  0.50           True        False          True
3      10  0.98   9.0  0.66          False         True          True
4       9  1.00  10.5  1.10          False         True          True
...   ...   ...   ...   ...            ...          ...           ...
2201    3  1.10   7.0  0.60          False         True          True
2202   11  1.40  12.0  1.10           True        False          True
2203   15  0.34  10.0  0.60          False         True          True
2204    7  2.10   8.5  2.10           True        False         False
2205   12  1.90  11.1  1.10           True        False          True

      Diabetes_no  Diabetes Type_Type 1  Diabetes Type_Type 2  ...  \
0           False                  True                 False  ...
1           False                  True                 False  ...
2           False                  True                 False  ...
3           False                  True                 False  ...
4           False                  True                 False  ...
...           ...                   ...                   ...  ...
2201        False                  True                 False  ...
2202        False                  True                 False  ...
2203        False                  True                 False  ...
2204         True                 False                 False  ...
2205        False                  True                 False  ...

      Marsh_marsh type 3a  Marsh_marsh type 3b  Marsh_marsh type 3c  \
0                   False                False                False
1                    True                False                False
2                   False                False                False
3                    True                False                False
4                   False                False                False
...                   ...                  ...                  ...
2201                False                False                False
2202                False                False                False
2203                False                False                False
2204                False                False                False
2205                False                False                False

      Marsh_none  cd_type_atypical  cd_type_latent  cd_type_none  \
0          False             False           False         False
1          False              True           False         False
2          False             False            True         False
3          False             False           False         False
4          False             False            True         False
...          ...               ...             ...           ...
2201       False             False           False         False
2202        True             False           False          True
2203       False             False           False         False
2204        True             False           False          True
2205        True             False           False          True

      cd_type_potential  cd_type_silent  cd_type_typical
0                  True           False            False
1                 False           False            False
2                 False           False            False
3                 False            True            False
4                 False           False            False
...                 ...             ...              ...
2201              False           False             True
2202              False           False            False
2203               True           False            False
2204              False           False            False
2205              False           False            False

[2206 rows x 35 columns]>

In [7]:
X.describe()

               Age          IgA          IgG          IgM
count  2206.000000  2206.000000  2206.000000  2206.000000
mean     12.768812     1.427384    10.052901     1.236963
std       7.434250     1.110042     2.047683     0.447216
min       1.000000     0.340000     5.000000     0.500000
25%       8.000000     1.000000     8.700000     0.980000
50%      10.000000     1.100000    10.000000     1.100000
75%      15.000000     1.800000    12.000000     1.500000
max      35.000000     9.000000    15.300000     2.700000

In [8]:
X.isna().sum()

Age                       0
IgA                       0
IgG                       0
IgM                       0
Gender_Female             0
Gender_Male               0
Diabetes_Yes              0
Diabetes_no               0
Diabetes Type_Type 1      0
Diabetes Type_Type 2      0
Diarrhoea_fatty           0
Diarrhoea_inflammatory    0
Diarrhoea_watery          0
Abdominal_no              0
Abdominal_yes             0
Short_Stature_DSS         0
Short_Stature_PSS         0
Short_Stature_Variant     0
Sticky_Stool_no           0
Sticky_Stool_yes          0
Weight_loss_no            0
Weight_loss_yes           0
Marsh_marsh type 0        0
Marsh_marsh type 1        0
Marsh_marsh type 2        0
Marsh_marsh type 3a       0
Marsh_marsh type 3b       0
Marsh_marsh type 3c       0
Marsh_none                0
cd_type_atypical          0
cd_type_latent            0
cd_type_none              0
cd_type_potential         0
cd_type_silent            0
cd_type_typical           0
dtype: int64

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2206 entries, 0 to 2205
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2206 non-null   int64
 1   IgA                     2206 non-null   float64
 2   IgG                     2206 non-null   float64
 3   IgM                     2206 non-null   float64
 4   Gender_Female           2206 non-null   bool
 5   Gender_Male             2206 non-null   bool
 6   Diabetes_Yes            2206 non-null   bool
 7   Diabetes_no             2206 non-null   bool
 8   Diabetes Type_Type 1    2206 non-null   bool
 9   Diabetes Type_Type 2    2206 non-null   bool
 10  Diarrhoea_fatty         2206 non-null   bool
 11  Diarrhoea_inflammatory  2206 non-null   bool
 12  Diarrhoea_watery        2206 non-null   bool
 13  Abdominal_no            2206 non-null   bool
 14  Abdominal_yes           2206 non-null   bool
 15  Short_Stature_DSS       2206 non-null   bool
 16  Short_Stature_PSS       2206 non-null   bool
 17  Short_Stature_Variant   2206 non-null   bool
 18  Sticky_Stool_no         2206 non-null   bool
 19  Sticky_Stool_yes        2206 non-null   bool
 20  Weight_loss_no          2206 non-null   bool
 21  Weight_loss_yes         2206 non-null   bool
 22  Marsh_marsh type 0      2206 non-null   bool
 23  Marsh_marsh type 1      2206 non-null   bool
 24  Marsh_marsh type 2      2206 non-null   bool
 25  Marsh_marsh type 3a     2206 non-null   bool
 26  Marsh_marsh type 3b     2206 non-null   bool
 27  Marsh_marsh type 3c     2206 non-null   bool
 28  Marsh_none              2206 non-null   bool
 29  cd_type_atypical        2206 non-null   bool
 30  cd_type_latent          2206 non-null   bool
 31  cd_type_none            2206 non-null   bool
 32  cd_type_potential       2206 non-null   bool
 33  cd_type_silent          2206 non-null   bool
 34  cd_type_typical         2206 non-null   bool
dtypes: bool(31), float64(3), int64(1)
memory usage: 135.8 KB

In [10]:
y.value_counts()

Disease_Diagnose
yes    1843
no      363
Name: count, dtype: int64